// hashgrid

@grid-width: 980px;
@cols: 7;
@gutter: 20px;
@h-margin: (@gutter - 1px);
@v-height: 20px;

/**
 * Grid
 */
#grid {
  /* Dimensions - same width as your grid with gutters */
  width: @grid-width;
  z-index: 999;
  /* Grid (left-aligned)
  position: absolute;
  top: 0;
  left: 0;
  */

  /* Grid (centered) */
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: (-1 * @grid-width/2);

  /**
   * Vertical grid lines
   *
   * Set the column width taking the borders into consideration,
   * and use margins to set column gutters.
   */
  div.vert {
    width: (@grid-width/@cols - 1px);
    border: solid darkturquoise;
    border-width: 0 1px;
    margin-right: @h-margin;
  }
  
  div.vert.first-line {
    margin-left: @h-margin;
  }
  
  /**
   * Horizontal grid lines, defined by your base line height
   *
   * Remember, the CSS properties that define the box model:
   * visible height = height + borders + margins + padding
   */
  div.horiz {
    /* 20px line height */
    height: (@v-height - 1px);
    border-bottom: 1px dotted darkgray;
    margin: 0;
    padding: 0;
  }
  
  /**
  * Classes for multiple grids
  *
  * When using more than one grid, remember to set the numberOfGrids 
  * option in the hashgrid.js file.
  */
  &.grid-1 div.vert {
      /* Vertical grid line colour for grid 1 */
      border-color: darkturquoise;
  }
  &.grid-2 {
    /* Adjustments */
    padding: 0 160px;
    width: 660px;
  
    div.vert{
        /* Vertical grid line colour for grid 2 */
        border-color: crimson;
    }
  }
}


//@import "cloud";

body {
  background: url('/img/site_mockup.jpg') top center no-repeat;
}

@box-length: (@grid-width/9);


#team {
  list-style: none;
  overflow: hidden;
  margin: 0px;

  li {
    background: #000;
  }
  
  li, li > a, li > a img {
    display: block;
    float: left;
    width: @box-length;
  }

  li > a {
    &:hover, &.active {
      text-decoration: none;
      
      h5 {
        display: block;
        background: #fff;
        color: #000;
        text-shadow: none;
      }
      
      img {
        opacity: 1.0;
      }
    }

    h5 {
      margin: 0px;
      line-height: 2;
      width: @box-length;
      text-align: center;
      color: #fff;
    }

    img {
      opacity: 0.5;
      height: @box-length;
    }
  }
}


// The Map

#map {
  display: none;
  position: absolute;
  width: 100%;
  height: 320px;
  top: 0px;
  left: 0px;
}

#bios {
  
  p {
    clear: both;
  }
}

#courses {
  color: #fff;
  
  .carousel .item .image {
    width: @grid-width;
    height: (@grid-width * (9/16));
  }
}

.carousel {
  text-shadow: none;

  .item {
    background: #000;
    
    .carousel-caption {
      background: rgba(0,0,0,0.9);
    }
    
    .image {
      margin: 0 auto;
    }
  }
}

#app {
  position: absolute;
  z-index: 3;
  display: block;
  width: 640px;
  left: 50%;
  margin-left: -320px;
  height: 100%;
  border: none;
  box-shadow: 0px 0px 16px #000;
}


@green: #7cc21a;
@yellow: #f9bf49;

.center {
  margin: 0 auto;
}

#title {
  overflow: hidden;
  background: url('/img/spread/title.jpg') top center no-repeat #529bd2;
  height: 780px;
}

#header {
  margin-top: 300px;
  background: @green;
  height: 160px;
  //opacity:0.5;
  color: #fff;
  
  .center {
    width: 900px;
    padding-top: 36px;
    overflow: hidden;
  }
  
  h1 {
    line-height: 1;
    font-size: 82px;
    font-weight: bolder;
    float: left;
  }
  
  #logo {
    display: block;
    position: absolute;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -72px 0 0 -150px;
  }
  
  #slogan {
    font-size: 26px;
    width: 254px;
    line-height: 1;
    float: right;
  }
}

#what {
  background: @green;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  color: #fff;
  line-height: 1.2;
  padding: 110px 0;
  
  .center {
    width: 960px;
    margin: 0 auto;
  }
}

#video {
  //background: url('/img/spread/video.png') center top no-repeat;
  height: 1000px;
  
  #play {
    display: block;
    width: 240px;
    height: 240px;
    margin-top: 330px;
    opacity: 0.75;
    background: url('/img/video_playbutton.png') no-repeat;
    
    &:hover {
      opacity: 1;
    }
  }
}

.social-hover(@img-name){
  background-image: url('/img/social/yellow/@{img-name}.png');
  &:hover {
    background-image: url('/img/social/white/@{img-name}.png');
  }
}

#social {
  position: fixed;
  top: 24px;
  right: 32px;
  
  li {
    margin-left: 8px;
    float: left;
  }
  li, li a {
    display: block;
    width: 32px;
    height: 34px;
  }
  li a {
    background-repeat: no-repeat;
  }
  
  .facebook a {
    .social-hover('Facebook')
  }
  .blog a {
    .social-hover('Tumblr')
  }
  .twitter a {
    .social-hover('Twitter')
  }
  .vimeo a {
    .social-hover('Vimeo')
  }
}